<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>

<body>
{{index . 0}}
{{index . 1}}
{{index . 2}}
<!-- index is an bulti-in template func that you can use in a template -->

<!-- Conditional rendering using if, there is also and for chaining condition logic-->
<!-- There is also gt = greater than, lt = less than, eq = equal to-->

{{if .}}
    Exists! - {{.}}
{{end}}

</body>

</html>